.hero{

    min-height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    background:linear-gradient(135deg,#111827,#1e293b);

}

.hero h1{

    font-size:72px;

    color:#22c55e;

    margin-bottom:20px;

}

.hero p{

    font-size:24px;

    margin-bottom:40px;

    color:#d1d5db;

}

.hero button{

    background:#22c55e;

    color:white;

    padding:18px 40px;

    border-radius:10px;

    font-size:18px;

}